@font-face {
    font-family: "bungee";
    src: url("../assets/fonts/BungeeShade-Regular.ttf");
}

@font-face {
    font-family: "poppins2";
    src: url("../assets/fonts/Poppins/Poppins-Black.ttf");
}

/* @font-face {
    font-family: "poppins2";
    src: url("../assets/fonts/Poppins/");
} */

.tour-container {
    display: flex;
    /* border-top: #848383 3px solid; */
    justify-content: space-between;
    min-height: 1000px;
}

.open-container {
    /* border-right: #848383 2px solid; */
    margin: 10px;
    padding: 10px;
    padding-top: 0;
    padding-right: 40px;
    margin-top: 60px;
    width: 600px;
    border-right: 2px #ccc solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-tournament {
    width: 140px;
    height: 120px;
    background-color: #084c3f;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 60px;
}

.add-tournament:hover {
    background-color: rgb(3, 35, 30);
    cursor: pointer;
}

.vector-icon {
    margin-top: 30px;
    margin-left: 40px;
    height: 60px;
    width: 60px
}

.add-results {
    display: flex;
}



.add-results a {
    display: flex;
}

.add-results h2 {
    margin-top: 62px;
    border-radius: 4px;
    margin-right: 110px;
    font-family: "poppins";
    background-color: #ddd;
    padding: 40px;

}





.tour-header {
    letter-spacing: 2px;
    font-family: "pilot";
    padding: 10px 130px 10px 145px;
    margin: 0px 10px 10px 20px;
    background-color: #084c3f;
    border-radius: 3px;
    font-size: 50px;
    align-items: center;
    text-align: center;
    /* margin: auto; */
    color: white;

}



.tour-header2 {
    letter-spacing: 2px;
    font-family: "pilot";
    padding: 10px 20px 10px 20px;
    margin: 40px 10px 10px 10px;
    background-color: #084c3f;
    border-radius: 3px;
    font-size: 50px;
    align-items: center;
    text-align: center;
    /* margin: auto; */
    color: white;
}

.tour-header3 {
    letter-spacing: 2px;
    font-family: "pilot";
    padding: 10px 200px 10px 200px;
    margin: 40px 10px 10px 10px;
    background-color: #084c3f;
    border-radius: 3px;
    font-size: 50px;
    align-items: center;
    text-align: center;
    /* margin: auto; */
    color: white;
}

.closed-container {
    margin-right: 70px;
    width: 500px;


}

.finished-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.open-tour {
    /* width: 100%; */
    border-collapse: collapse;
    margin-top: 25px;
    margin-left: 10px;
    width: 100%;

}

.closed-tour {
    /* width: 100%; */
    border-collapse: collapse;
    margin-top: 25px;

}

.finished-tour {
    /* width: 100%; */
    border-collapse: collapse;
    margin-top: 25px;
    width: 745px;

}

.open-tour th, td {
    border: 1px solid #ddd;
    padding: 15px;
    padding-right: 48px;
    font-family: "poppins";
    font-size: 15px;
    text-align: left;

}

.closed-tour th, td {
    border: 1px solid #ddd;
    padding: 15px;
    /* padding-right: 48px; */
    width: 350px;
    font-family: "poppins";
    font-size: 15px;
    text-align: left;

}

.finished-tour th, td {
    border: 1px solid #ddd;
    padding: 15px;
    padding-right: 48px;
    font-family: "poppins";
    font-size: 15px;
    text-align: left;

}

.open-tour tbody {
    cursor: pointer;
}

.closed-tour tbody {
    cursor: pointer;
}

.finished-tour tbody {
    cursor: pointer;
}


.open-tour th {
    background-color: #f2f2f2;
}

.closed-tour th {
    background-color: #f2f2f2;
}

.closed-add {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finished-tour th {
    background-color: #f2f2f2;
}