.home-container img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    /* Adjust values as needed */
}

@font-face {
    font-family: "pilot";
    src: url("../assets/fonts/RusdyIbra-yw8wd.ttf");
}

.home-container h1 {
    font-family: "pilot";
    color: white;
}

.header1 {
    position: absolute;
    top: 700px;
    left: 510px;
    font-size: 100px;
    /* background-color: #0037319b; */
    border-radius: 4px;
    ;
}

.header2 {
    position: absolute;
    top: 1000px;
    left: 400px;
    font-size: 100px;
}

.description {
    position: absolute;
    top: 860px;
    left: 485px;
    color: white;
    font-family: "poppins";
    font-size: 20px;
    width: 600px;
    text-align: center;
}