@font-face {
    font-family: "bungee";
    src: url("../assets/fonts/BungeeShade-Regular.ttf");
}

@font-face {
    font-family: "poppins2";
    src: url("../assets/fonts/Poppins/Poppins-Black.ttf");
}

.tour-container {
    display: flex;
    /* border-top: #848383 3px solid; */
    justify-content: space-between;
}

.open-container {
    /* border-right: #848383 2px solid; */
    margin: 10px;
    padding: 10px;
}

.add-tournament {
    width: 140px;
    height: 120px;
    background-color: #084c3f;
    border-radius: 10px;
    margin-right: 200px;
    margin-top: 100px;
}

.add-tournament:hover {
    background-color: rgb(3, 35, 30);
    cursor: pointer;
}

.vector-icon {
    margin-top: 30px;
    margin-left: 40px;
    height: 60px;
    width: 60px
}

.add-results {
    display: flex;
    flex-direction: column;
}




.tour-header {
    font-family: "poppins2";
    padding: 10px 300px 10px 10px;
    margin: 40px 10px 10px 10px;
    background-color: #084c3f;
    border-radius: 3px;
    font-size: 30px;
    /* margin: auto; */
    color: white;

}

.open-tour {
    /* width: 100%; */
    border-collapse: collapse;
    margin-top: 25px;
    margin-left: 10px;
}

.open-tour th, td {
    border: 1px solid #ddd;
    padding: 15px;
    padding-right: 68px;
    text-align: left;

}

.open-tour tbody {
    cursor: pointer;
}


.open-tour th {
    background-color: #f2f2f2;
}