.draw-container {
    border: 3px solid grey;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "poppins";
    min-height: 800px;
}


.participant {
    font-family: "poppins";
    margin-top: 0;
}

.users-participants img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid black;
    transition: transform 0.3s ease;
    /* Add a smooth transition effect */
}

.draw-container h2 {
    font-size: 40px;
    font-family: "bungee";
}

.users-participants img:hover {
    transform: scale(1.2);
}

.partici {
    display: flex;
    /* border: 3px solid #848383; */
    /* background-color: #e0dcdc; */
    border-radius: 5px;


}

.users-participants {
    margin-top: 20px;
    padding: 10px 30px 0px 30px;
    cursor: pointer;
    height: 185px;
}

.users-participants p {
    text-align: center;
    width: 80px
}

.users-participants p:hover {
    text-decoration: underline;
}

@font-face {
    font-family: "poppins";
    src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: "bungee";
    src: url("../assets/fonts/BungeeShade-Regular.ttf");
}

@font-face {
    font-family: "bebas";
    src: url("../assets/fonts/BebasNeue-Regular.ttf");
}

.tour-info {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-top: 30px;
    /* border-top: 3px solid #848383; */
    padding: 20px;
}

.info-tour {
    margin-top: 35px;
    margin-right: 90px;
    font-weight: bold;
    font-size: 18px;
    display: inline;
}

.organizer img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid black;
    /* margin-left: 30px; */
}

.organizer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.organizer p {
    font-weight: bold;
    margin-bottom: 18px;
}

.header-org {
    font-size: 20px;
}

.tournament-diagram {
    width: 1000px;
    margin: 0 auto;
    z-index: 1;
    margin-bottom: 100px;
    padding-top: 50px;
    min-height: 600px;
    height: auto;
    position: relative;
    /* background-color: red; */
}

/* .match {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
} */

.team {
    width: 75px;
    height: 65px;
    /* padding: 8px; */
    text-align: center;
    border: 5px solid black;
    border-radius: 4px;
    background-color: #f9f9f9;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-right: 350px;
    margin-left: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #dbdbdb;
}

.diagram {
    position: absolute;
    top: 950px;
    width: 750px;
    height: 450px;
    /* z-index: 2; */
}

.enroll {
    padding: 0px 20px 0px 20px;
    background-color: #066b59;
    color: white;
    cursor: pointer;
    font-size: 25px;
    font-family: "poppins";
    border-radius: 3px;
    position: absolute;
    top: 1325px;
    z-index: 3;
    font-weight: bold;
}

.enroll-above {
    padding: 0px 20px 0px 20px;
    background-color: #066b59;
    color: white;
    cursor: pointer;
    font-size: 25px;
    font-family: "poppins";
    border-radius: 3px;
    position: absolute;
    top: 700px;
    z-index: 3;
    font-weight: bold;
}

.enroll:hover {
    background-color: #023630;


}

.user-a {
    top: 23px;
    position: absolute;
    right: 515px;

}

.user-b {
    position: absolute;
    top: 155px;
    right: 515px;
}

.user-c {
    position: absolute;
    top: 300px;
    right: 515px;

}

.user-d {
    position: absolute;
    top: 435px;
    right: 515px;

}

.user-e {
    position: absolute;
    top: 23px;
    left: 512px;


}

.user-f {
    position: absolute;
    top: 155px;
    left: 512px;

}

.user-g {
    position: absolute;
    top: 300px;
    left: 512px;
}

.user-h {
    position: absolute;
    top: 435px;
    left: 512px;
}

.tournament-diagram img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.tournament-diagram img:hover {
    width: 95%;
    height: 95%;
}

.filled {
    overflow: hidden;
}

.user-1 {
    position: absolute;
    top: 95px;
    right: 325px
}

.user-2 {
    position: absolute;
    top: 370px;
    right: 325px
}

.user-3 {
    position: absolute;
    top: 95px;
    left: 325px
}

.user-4 {
    position: absolute;
    top: 370px;
    left: 325px
}

.final-1 {
    position: absolute;
    top: 150px;
    left: 105px;
}

.final-2 {
    position: absolute;
    top: 310px;
    left: 105px;
}

.final-match {
    position: absolute;
    left: 430px;
    top: 195px;
    font-size: 45px;
    font-family: "bebas";
}

.winner-header {
    font-size: 60px;
    font-family: "bungee";
    position: absolute;
    top: 360px;
    left: 350px;
}

.winner {
    top: 570px;
    position: absolute;
    left: 90px;
    width: 100px;
    height: 85px;
    border: rgb(198, 169, 2) 5px solid;
}

.winner-name {
    font-size: 20px;
    position: absolute;
    top: 670px;
    left: 421px;
    font-weight: bold;
    width: 150px;
    text-align: center;
}