body {
    background-color: #DBDBDB;
    padding-top: 20px;
    background-image: url('/pattern7.png');
    background-repeat: repeat;


}

.layout {
    display: flex;
    flex-direction: column;
    width: 1260px;
    min-height: 600px;
    height: auto;
    margin: auto;
    background-color: white;
    box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.2), 5px 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.2);


}

a {
    text-decoration: none;

}