@font-face {
    font-family: "poppins";
    src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
}

.footer {
    height: 130px;
    background-color: #003731;
    width: 1260px;
    margin: auto;
    font-size: 30px;
    font-family: "poppins";
}


/* Footer.css */

.footer {
    color: #fff;
    text-align: center;
}

.social-media {
    margin-bottom: 20px;
}

.social-media a {
    display: inline-block;
    margin-right: 15px;
    font-size: 24px;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.social-media a:hover {
    color: #55acee;
    /* Twitter color */
}

.footer-content {
    font-size: 14px;
}

.footer-content p {
    margin: 5px 0;
}