body {
    background-color: #DBDBDB;
}

.layout {
    display: flex;
    flex-direction: column;
    width: 1260px;
    height: 1000px;
    margin: auto;
    background-color: #DBDBDB;
}

a {
    text-decoration: none;
}