body {
    background-color: #DBDBDB;
    padding-top: 20px;

}

.layout {
    display: flex;
    flex-direction: column;
    width: 1260px;
    height: auto;
    margin: auto;
    background-color: white;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

a {
    text-decoration: none;
}