body {
    background-color: #DBDBDB;
}

.layout {
    display: flex;
    flex-direction: column;
    width: 1260px;
    height: 1000px;
    margin: auto;
    background-color: #DBDBDB;

}

:root {
    --primary-color: #3498db;
    --font-size: 16px;
}

a {
    text-decoration: none;
}