/* LoadingSpinner.css */

.loader {
    border: 8px solid #f3f3f3;
    /* border-top: 8px solid #3498db; */
    border-top: 8px solid #146e63;
    ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top: 300px;
    margin-bottom: 300px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}