.logo {
    cursor: pointer;
    font-size: 90px;
    font-family: "bebas";
    margin-top: 10px;


}

.nav-bar {
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    padding-bottom: 2px;
    border-bottom: #848383 3px solid;
    height: 120px;
    color: #003731;
}

/* .links {
    margin-top: 80px;
} */

.header-links a {
    padding: 20px;
    background: #FFF;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #003731;
    font-family: "poppins";
    padding: 10px;
    margin: 20px;
}

.header-links a:hover {
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #003731;
    color: white;
}

.active-bar {
    border-radius: 20px;
    padding: 10px;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    background-color: #003731;
    color: white;
}

.left-bar {
    margin-top: 55px;
}

.right-bar {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.user-icon {
    width: 50px;
    height: 50px;
    margin-left: 60px;

}

.user-icon:hover {
    background-color: #75747472;
    border-radius: 25px;
}

@font-face {
    font-family: "bebas";
    src: url("../assets/fonts/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "poppins";
    src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
}