.logo {
    width: 220px;
    height: 144px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 25px;
}

.nav-bar {
    display: flex;
    height: 160px;
    background-color: #DBDBDB;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.links {
    margin-top: 60px;
    display: flex;
}

.links a {
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    margin: 20px 30px 20px 30px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    color: #444;
}

.links a:hover {
    background-color: #FFA41B;
    color: white
}

.search-logo {
    margin-top: 80px;
    margin-right: 35px;


}

.search-icon {
    width: 35px;
    height: 35px;
    margin-right: 35px;
    cursor: pointer;
}

.user-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.user-icon:hover {
    background-color: #75747472;
    border-radius: 25px;
}