.bracket-container {
    margin-top: 110px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    margin-bottom: 40px;
}

.match-container {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.bracket-btn {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}